header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

header img{
    height: 90px;
}