body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    color: #ffffff;
    background-color: #2287c9;
    font-size: 18px;
    border-radius: 10px; 
    padding: 6px 10px;
    cursor: pointer;
    border: 0;
}

button:hover {
    background-color: #09334f;
}

