@mixin xs-layout {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin s-layout {
  @media (min-width: $s) {
    @content;
  }
}

@mixin m-layout {
  @media (min-width: $m) {
    @content;
  }
}

@mixin l-layout {
  @media (min-width: $l) {
    @content;
  }
}

@mixin max-m-layout {
  @media (max-width: m) {
    @content;
  }
}

@mixin div-input {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}