// COLOR PALETTE
$clr1: #2287c9;
$clr2: darken($clr1, 23%);
// $clr2: #09334f;
$clr3: #ffffff;
$clr4: whitesmoke;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$xs: 481px;
$s: 768px;
$m: 1025px;
$l: 1281px;
