
.app-header {
    background: lightcyan;
    border-bottom: 2px solid $clr3;
    height: 11vh;

    img {
        height: 10vh;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        margin: .5em;
    }

    nav a:active {
        color: purple;
    }
    
    nav a.active {
        color: darkblue;
        font-weight: bold;
        text-decoration: overline;
    }
}