.toy-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

    li {
        // background-color: $clr4;
        margin: 0.5em;

        img {
            height: 100%;
            height: 300px;
        }

        .toy-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }


    .toy-preview {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .btn-container {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        justify-content: space-around;
    }
}