.toy-chat {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/chat.jpg");
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;

    span {
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
    }

    ul {
        height: 300px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    ul li {
        box-shadow: 3px 3px 5px 1px #f9f6f6;
        border-radius: 10px;
        background-color: white;
        padding: 5px;
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }

    input {
        border-radius: 10px;
        height: 40px;
        width: 200px;
        padding: 5px;
    }

    button {
        display: none;
    }
}