.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    border-radius: 0;
    right: 0;
    top: 0;

    &.success {
        background-color: lightgreen;
    }

    &.error {
        background-color: lightpink;
    }

    button{
        float: right;
        margin: 1em;
    }
}
